
{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}


<form action="" method="post">
    {% csrf_token %}
    <div class="container p-3 shadow-lg">
            <h1>Register</h1>
        <div class="row">
            <div class="col-sm-4">
                {% for fields in form %}
                  <label>{{fields.first_name}}</label><br>
                  <label>{{fields.last_name}}</label><br>
                  <label>{{fields.email}}</label><br>
                  <label>{{fields.password}}</label><br>
                {% endfor %}
                {{ form.as_p }}

            </div>
            <div class="col-sm-6">

                <input type="text" class="form-control" placeholder="First name" name="first_name" value=""><br>
                <input type="text" class="form-control" placeholder="Last name" name="last_name" value=""><br>
                <input type="email" class="form-control" placeholder="Email" name="email" value=""><br>
                <input type="password" class="form-control" name="password" placeholder="Password" id="myInput"><br>
                <input type="checkbox" class="password" onclick="myFunction()">Show Password

                {% load static %}
                <script src="{% static 'main.js' %}"></script>


            </div>


        </div>
        <br>
        <button type="submit" class="btn btn-dark">Sighup</button>
    </div>



</form>
{% endblock %}

