{% extends "user/base.html" %}

<!--{% block title %}-->
<!--Index Page-->
<!--{% endblock %}-->

{% block content %}

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Portfolio Projects</a>

        <div class="d-flex flex-row bd-dark mb-3">
            <div class="p-2 bd-dark"></div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="d-flex flex-row-reverse bd-dark">
            <div class="p-2 bd-dark"><a href="{% url 'logout' %}">Logout</a> </div>
        </div>
        {% else %}
        <div class="d-flex flex-row-reverse bd-dark">
            <div class="p-2 bd-dark"><a href="{% url 'login' %}">Login</a> </div>
            <div class="p-2 bd-dark"><a href="{% url 'register' %}">Signup</a> </div>
        </div>
        {% endif %}


    </div>
</nav>

<div class="container-fluid p-5">

    <div class="container mt-4">
        <h2 class="text-center">Portfolio Projects</h2>
        {% if request.user.is_authenticated %}
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Project Name</th>
                <th>Project Link</th>
                <th>Description</th>
            </tr>
            </thead>

            <tbody>
            {% for project in profile %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.user }}</td>
                <td>{{ project.project_name }}</td>
                <td>{{ project.project_description  }}</td>

                <td>
                    {% if project.project_url  %}
                    <a href="{{ project.project_url  }}" target="_blank">
                        View
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
        {% endif %}
    </div>
</div>
{% endblock %}


